
#name {
    position: relative;
    height: 100%;
    left: 100px;
    float: left;
    background-color: #4aaaa5;
    padding: 22px;
    margin: 0px;
}

article {
    background-color: #666666;
}

.link {
    float: right;
    padding: 10px;
    color: #666666;
}

.links {
    position: relative;
    right: 100px
}

header {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}
