
#name {
    position: relative;
    height: 100%;
    left: 300px;
    float: left;
    color: white;
    background-color: #4aaaa5;
    padding: 22px;
    margin: 0px;
}

article {
    background-color: #666666;
}

.link {
    padding: 22px 25px;
    color: #666666;
}

#links {
    position: relative;
    top: 25px;
    right: -1300px;
    width: 50%;
    height: 50px;

}

header {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
    margin: 0px;
    padding: 0px;
    height: 88px;
    overflow: hidden;
}
